<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>CSS Free Templates with jQuery Slider</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<script src="js/jquery-1.7.min.js" type="text/javascript"></script>
	<script src="js/jquery.jcarousel.js" type="text/javascript"></script>
	<script src="js/DD_belatedPNG-min.js" type="text/javascript"></script>
	<script src="js/functions.js" type="text/javascript"></script>
</head>
<body>
	<div class="shell">		
		<div id="top-navigation">
			<a title="My Account" href="#">MY ACCOUNT</a><a class="cart" title="Shopping Cart" href="#">SHOPPING CART</a><a class="checkout" title="Checkout" href="#">CHECKOUT</a><span>0 items</span><span class="sep">|</span><span>$0,00</span>
		</div>
		<div class="welcome-message">
			<p>Default welcome msg!</p>
		</div>
		<div class="cl"></div>
		<div id="wrapper-top"></div>
		<!-- Wrapper Middle -->
		<div id="wrapper-middle">
			<!-- Header -->
			<div id="header">
				<h1 id="logo"><a title="home" href="#">Furniture Store</a></h1>				
				<!-- Search -->
				<div id="search">
					<form action="" method="post">
						<input type="text" class="field" value="Search entire store here..." title="Search entire store here..." />				
						<input type="submit" value="" class="submit-button" />
					</form>				
				</div>
				<!-- END Search -->				
			</div>
			<!-- END Header -->
			<!-- Navigation -->
			<div id="navigation">
				<ul>
					<li class="first"><a title="Home" href="#">Home<span class="home">&nbsp;</span></a></li>
					<li><a title="Cabinets" href="#">Cabinets</a></li>
					<li><a title="Sofa" href="#">Sofa</a></li>
					<li><a title="Armchair" href="#">Armchair</a></li>
					<li><a title="Tables" href="#">Tables</a></li>
					<li><a title="About Us" href="#">About Us</a></li>
					<li><a title="Contacts" href="#">Contacts</a></li>
				</ul>
				<div class="cl"></div>
			</div>
			<!-- END Navigation -->
			<!-- Main -->
			<div id="main">
				<!-- Slider -->
				<!-- END Slider -->
				<!-- Sidebar -->
				<div id="sidebar">
					<div class="box">
						<div class="title">
							<h2>Categories</h2>
							<img class="bullet" src="css/images/bullet.png" alt="small grey bullet" />
						</div>
						<ul>
							<li><a title="Cabinet" href="#">Cabinet</a></li>
							<li><a title="Sofa" href="#">Sofa</a></li>
							<li><a title="Armchair" href="#">Armchair</a></li>
							<li><a title="Tablesr" href="#">tablesr</a></li>
							<li><a title="Other" href="#">Other</a></li>							
						</ul>
					</div>
					
					
				</div>
				<!-- END Sidebar -->
				<!-- Content -->
				<div id="content">
					<!-- Products -->
					<div class="products">
						<div class="title">
							<h2>Newest Products</h2>
							<a class="title-link" title="More Products" href="#">View More</a>
							<img class="bullet" src="css/images/bullet.png" alt="small grey bullet" />
						</div>
						<div class="row">	
							<div class="product-holder">	
								<div class="product">
									<a title="More Details" href="#"><img src="css/images/1.jpg" alt="Yin Yang shaped bookshelf" /></a>
									<img class="top-label" src="css/images/top.png" alt="top sign" />
									<div class="desc">
										<p>Item Name</p>
										<p class="price"><span class="dollar">$</span>1129,99</p>
									</div>
									<div class="bottom"></div>
								</div>	
								<div class="product-bottom"></div>
							</div>
							<div class="product-holder">	
								<div class="product">
									<a title="More Details" href="#"><img src="css/images/2.jpg" alt="Television stand" /></a>
									<div class="desc">
										<p>Item Name</p>
										<p class="price">
											<span class="dollar">$</span>499,99&nbsp;&nbsp;<strike><span class="dollar">$</span>599,99</strike>
										</p>
									</div>
									<div class="bottom"></div>
								</div>	
								<div class="product-bottom"></div>
							</div>
							<div class="product-holder">	
								<div class="product">
									<a title="More Details" href="#"><img src="css/images/3.jpg" alt="Brown table with pink, blue and two green stools" /></a>
									<img class="top-label" src="css/images/top.png" alt="top sign" />
									<div class="desc">
										<p>Phasellus laoreet <br />lectus ac</p>
										<p class="price"><span class="dollar">$</span>699,99</p>
									</div>
									<div class="bottom"></div>
								</div>	
								<div class="product-bottom"></div>
							</div>
						</div>
						<div class="row">
							<div class="product-holder">	
								<div class="product">
									<a title="More Details" href="#"><img src="css/images/4.jpg" alt="table" /></a>
									<div class="desc">
										<p>Integer fermentum</p>
										<p class="price"><span class="dollar">$</span>399,99</p>
									</div>
									<div class="bottom"></div>
								</div>	
								<div class="product-bottom"></div>
							</div>
							<div class="product-holder">	
								<div class="product">
									<a title="More Details" href="#"><img src="css/images/5.jpg" alt="Armchair with a round stool" /></a>
									<img class="new-label" src="css/images/new.png" alt="new sign" />
									<div class="desc">
										<p>Phasellus lacus <br />lacus</p>
										<p class="price"><span class="dollar">$</span>439,99</p>
									</div>
									<div class="bottom"></div>
								</div>	
								<div class="product-bottom"></div>
							</div>
							<div class="product-holder">	
								<div class="product">
									<a title="More Details" href="#"><img src="css/images/6.jpg" alt="Brown sofa with two cushons" /></a>
									<div class="desc">
										<p>Gaming Computer</p>
										<p class="price">
											<span class="dollar">$</span>999,99&nbsp;&nbsp;<strike><span class="dollar">$</span>1 348,95</strike>
										</p>
									</div>
									<div class="bottom"></div>
								</div>	
								<div class="product-bottom"></div>
							</div>
						</div>	
						<div class="cl"></div>
					</div>
					<!-- END Products -->

				</div>
				<!-- END Content -->
				<div class="cl"></div>
			</div>
			<!-- END Main -->
		</div>
		<!-- END Wrapper Middle -->
		<div id="wrapper-bottom"></div>	
		<!-- Footer  -->
		<div id="footer">
			<span class="author"><a href="http://css-free-templates.com/">Design by: CSS Free Templates</a></span>
			<p><a title="About Us" href="#">About Us</a><span>&frasl;&frasl;</span><a title="Site Map" href="#">Site Map</a><span>&frasl;&frasl;</span><a title="Advanced Search" href="#">Advanced Search</a><span>&frasl;&frasl;</span><a title="Customer Service" href="#">Customer Service</a><span>&frasl;&frasl;</span><a title="Contact Us" href="#">Contact Us</a><span>&frasl;&frasl;</span></p>
		</div>
		<!-- END Footer -->
	</div>
</body>
</html>