<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" >
  <Appenders>
	   <Console name="Console" target="SYSTEM_OUT">
<!-- 	      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} - %-6p : %-10l : %m%n" />   -->
<!-- 	      <PatternLayout pattern="%d{ISO8601} [%-5p][%-16.16t][%32.32c] - %m%n" />	 -->
	      <PatternLayout pattern="%d{ISO8601} [%-5p][%-10l] : %m%n" />
	   </Console>	
	   <File name="MyFile" fileName="/logs/application.log" append="true">
	      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} - %-6p : %-10l : '%m'%n"/>
	   </File>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="MyFile"/>
    </Root>
  </Loggers>
</Configuration>